{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1 class="mt-4">Formulaire de contact</h1>

    {% for success in app.flashes('success') %}
        <p class="alert alert-success">{{ success }}</p>
    {% endfor %}

    {{ form_start(form, {attr : {novalidate : 'novalidate'}}) }}
    <div class="mt-3">
        {{ form_label(form.subject, 'Sujet* : ') }}
        {{ form_widget(form.subject) }}
        {{ form_errors(form.subject) }}
    </div>
    <div class="mt-3">
        {{ form_label(form.email, 'Email* : ') }}
        {{ form_widget(form.email) }}
        {{ form_errors(form.email) }}
    </div>
    <div class="mt-3">
        {{ form_label(form.message, 'Message* : ') }}
        {{ form_widget(form.message) }}
        {{ form_errors(form.message) }}
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-primary btn-outline-light">Envoyer</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
